<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>失敗頁面</title>
<style>
body{
    margin:0;
    
}
.container1{
    height: 150px;
    background-color: #086A87;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight:bold;
}
.container2{
    margin:0px auto;
    margin-top: 30px;
    width: 360px;
    text-align: center;
}


</style>
</head>
<body>

<div class='container1'>失敗頁面</div>
<div class='container2'>
    <div style="font-size: large;">{{EM}}</div>

</div>

</body>
</html>